# Dictionary

In [2]:
d = {} # syntax of dictionary
print(type(d))

<class 'dict'>

In [3]:
d = {5}
print(type(d))

<class 'set'>

In [4]:
d = {'f' : 't'}
print(type(d))

<class 'dict'>

In [5]:
d

{'f': 't'}

In [ ]:
#list_of_student = ['1','2','3'] and roll= ["a","b","c"]

In [26]:
# create a dictionary with keys and values 
classroom = {
    'a' : [1,20],
    'b' : 2,
    'c' : 3,
    'd' : 20
}
classroom

{'a': [1, 20], 'b': 2, 'c': 3, 'd': 20}

In [9]:
classroom = {
    'a' : [1,20],
    'b' : 2,
    'c' : 3,
    'a' : 100 #though it is working with updated value
}
classroom

{'a': 100, 'b': 2, 'c': 3}

In [10]:
classroom.keys() # identify the keys of a dictionary

dict_keys(['a', 'b', 'c'])

In [11]:
classroom.values() # identify the values of a dictionary

dict_values([100, 2, 3])

In [12]:
classroom.items() #having keys with with values

dict_items([('a', 100), ('b', 2), ('c', 3)])

In [13]:
 #new value add to dic 
classroom['d'] =22

In [14]:
classroom

{'a': 100, 'b': 2, 'c': 3, 'd': 22}

In [15]:
classroom['e'] =[44,56]

In [16]:
classroom

{'a': 100, 'b': 2, 'c': 3, 'd': 22, 'e': [44, 56]}

In [17]:
del classroom['a']

In [18]:
classroom

{'b': 2, 'c': 3, 'd': 22, 'e': [44, 56]}

In [19]:
classroom ['c'] = 10 # update value

In [20]:
classroom

{'b': 2, 'c': 10, 'd': 22, 'e': [44, 56]}

In [21]:
new_student = {'j': 12, "k": 13} # add new dictionary

In [22]:
classroom.update(new_student)

In [23]:
classroom

{'b': 2, 'c': 10, 'd': 22, 'e': [44, 56], 'j': 12, 'k': 13}

# conditional statement

In [27]:
a = 3
b = 5 

a > b

False

In [32]:
if a > b:
    print('a is bigger than b')
if b > a:
    print('b is bigger')
if a == b:
    print('print a is equal to b ')

b is bigger

In [34]:
if a == 4:
    print("a is 4")
elif a==3:
    print('a is 3')

a is 3

# loop structure

In [35]:
#if
#elif
#else

In [ ]:
restaurant a and b
condintion for restaurnat age 21 and 2 covid_vac 
for b restaurant age 21 and covid_vac 1

In [43]:
#using fixed variable 
age = 21
covid_vac = 1
if age == 21 and  covid_vac == 2:
    print("restaurant a ")
if age == 21 and  covid_vac ==1:
    print('restaurant B')

restaurant B

In [46]:
##using user input   
age = int(input("write down your age!!!"))
covid_vac = int(input("write down the vacine amount!!!"))
if age == 21 and  covid_vac == 2:
    print("restaurant a ")
if age == 21 and  covid_vac ==1:
    print('restaurant B')
else:
    print('not allowed ')

21
6
not allowed