In [1]:
li = [2,4,6,8,10]
li[3] = li[3]**2
li

[2, 4, 6, 64, 10]

In [2]:
#square of the selected value in a list by index wise
for i in range (len(li)):
    
    if li[i]== li[4]:
        print("square od the value is ---!", li[i]**2)

square od the value is ---! 100

In [3]:
#square cube of the selected value in a list by index wise
lis = [1,3,5,7,9,11,13]
for i in range (len(lis)):
    if lis[i] == lis[5]:
        print("The square cube of the given index is:----!" , lis[i]**3)

The square cube of the given index is:----! 1331

In [4]:
lis

[1, 3, 5, 7, 9, 11, 13]

In [5]:
# using loop to square all the list elements 
for x in range (len(lis)):
    print("square of all value in a given list", lis[x]**2)

square of all value in a given list 1
square of all value in a given list 9
square of all value in a given list 25
square of all value in a given list 49
square of all value in a given list 81
square of all value in a given list 121
square of all value in a given list 169

In [6]:
li

[2, 4, 6, 64, 10]

In [7]:
# using loop to square all the list elements wirh store it in a new list

li2 = []
for x in range (len(li)):
    print("square of all value in a given list", li[x]**2)
    li2.append(li[x]**2)

square of all value in a given list 4
square of all value in a given list 16
square of all value in a given list 36
square of all value in a given list 4096
square of all value in a given list 100

In [8]:
li2

[4, 16, 36, 4096, 100]

In [9]:
# using list comprehension 
li3= [5,4,5,4,9,4,7]
for i in li3:
    li3[li3.index(i)] = li3[li3.index(i)]**2

In [10]:
li3

[25, 16, 25, 16, 81, 16, 49]

In [11]:
# using list comprehension 
li3= [5,4,5,4,9,4,7]
lis4 = list(x**3 for x in li3)

In [12]:
lis4

[125, 64, 125, 64, 729, 64, 343]

In [13]:
li5 = [1,5,6,5,4,6,4]
for x,values in enumerate(li5):
  print(f'the index {x} is represent the value {values}')

the index 0 is represent the value 1
the index 1 is represent the value 5
the index 2 is represent the value 6
the index 3 is represent the value 5
the index 4 is represent the value 4
the index 5 is represent the value 6
the index 6 is represent the value 4

In [14]:
list1 =[1,4,8,4,48,4,6,4,56]
for index in range (len(list1)):
    print(list1[index],index)

1 0
4 1
8 2
4 3
48 4
4 5
6 6
4 7
56 8

In [15]:
# identify the even number 
list4 = [6,8,7,4,9,8,7,8,7,7,4,4,1,3,4,1,6,5,7,9]

In [16]:
for i in  (list4):
    if i%2 == 0:
        #print (i)
        print('the even number ',i**2)
    else:
        print("the odd number ", i+2)

the even number  36
the even number  64
the odd number  9
the even number  16
the odd number  11
the even number  64
the odd number  9
the even number  64
the odd number  9
the odd number  9
the even number  16
the even number  16
the odd number  3
the odd number  5
the even number  16
the odd number  3
the even number  36
the odd number  7
the odd number  9
the odd number  11

In [17]:
# index based even odd
list4

[6, 8, 7, 4, 9, 8, 7, 8, 7, 7, 4, 4, 1, 3, 4, 1, 6, 5, 7, 9]

In [18]:
for element in list4:
    if list4.index(element) % 2 ==0:
        print('the even number ',element**2)
    else:
        print("the odd number ", element+2)

the even number  36
the odd number  10
the even number  49
the odd number  6
the even number  81
the odd number  10
the even number  49
the odd number  10
the even number  49
the even number  49
the odd number  6
the odd number  6
the even number  1
the odd number  5
the odd number  6
the even number  1
the even number  36
the odd number  7
the even number  49
the even number  81

In [19]:
# sum of the given list element 
new_lis = [7,8,8,5,8,4]
sum = 0
for i in new_lis:
    print (i)
    sum +=i
print("the total number is ",sum )

7
8
8
5
8
4
the total number is  40

In [20]:
new_lis

[7, 8, 8, 5, 8, 4]

for i in new_lis:
    if i%2==0:
        print(i)

In [21]:
list3 = [1,4,6,5,7,9,8,4,10]
for index in range(len(list3)):
    element = list3[index]
    if index % 2== 0:
        print('even', element**2)
    elif index % 2 != 0:
        print('odd', element + 2)

even 1
odd 6
even 36
odd 7
even 49
odd 11
even 64
odd 6
even 100

# factorial

In [22]:
# any number 

x = 7
fac = 1
for i  in range(1, x+1):
    print(i)
    fac = fac*i
print(fac)

1
2
3
4
5
6
7
5040

In [23]:
n = 15
for factor in range(2,n):
    if n%factor ==0:
        print("non prime")
        print(factor)

non prime
3
non prime
5

In [24]:
n = 16000
assume = 'prime'
for factor in range(2,n):
    if n%factor ==0:
        print("non prime")
        print(factor)
        break
assume

non prime
2

'prime'

In [33]:
n = 10
assume = 'prime'
if n==1:
    print('non prime')

else:
    for factor in range(2,n):
        if n % factor == 0:
            print("non prime")

non prime
non prime